.pageTitleButtonGroup {
  margin-left: 10px;
}

.section {
  margin-bottom: 20px;

  .sectionTitle {
    font-size: 20px;
  }
}



.urlFormContainer {

  .urlFormGroup {
    padding-right: 5px;
    margin: 0;
  }

  .urlFormLoadButton {
    height: 30px;
    margin-top: 23px;
  }
}


.youtubeCommentContainer {
  .videoInfoContainer {}

  .commentContainer {}
}